/* Metropolis Font */
@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.eot');
    src: local('Metropolis Regular'), local('Metropolis-Regular'),
        url('../fonts/WOFF2/Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/WOFF/Metropolis-Regular.woff') format('woff'),
        url('../fonts/EOT/Metropolis-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

