html { font-size: 16px; }
body { font-family: var(--primary-font); }

:root {
    /* Colors */
    --primary-color: $primary-color;
    --text-color: $text-color;

    /* Typography */
    --primary-font : "Metropolis", sans-serif;
}