$primary-color: #111D43;
$text-color: #111D43;

// Responsive Breakpoints
// Small devices (landscape phones, 576px and up)
$min-sm: 576px;
$max-sm: 767px;

// Medium devices (tablets, 768px and up)
$min-md: 768px;
$max-md: 991px;

// Large devices (desktops, 992px and up)
$min-lg: 992px;
$max-lg: 1199px;

// Extra large devices (large desktops, 1200px and up)
$min-xl: 1200px;

